body {
  background-color: rgb(73, 73, 73);
}
.topbar {
  overflow: hidden;
  background-color: #333;
}
.gobutton {
  background-color: #292929; /* Button background */
  border: none;
  color: rgb(0, 0, 0);
  font-size: 50px;
  border-radius: 12px;
  position: relative;
  top: 300px;
  display: block;
  margin: auto;
  padding: 15px 32px;
}
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  height: 100vh; /* Full viewport height */
}
.centrebutton {
  background-color: #292929; /* Button background */
  border: none;
  color: #fff; /* Button text color */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  border-radius: 12px;
  margin: 10px 0; /* Space between buttons */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Smooth transition */
}
.centrebutton:hover {
  background-color: #444; /* Darker background on hover */
}
