body {
  background-color: rgb(73, 73, 73);
  margin: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.topbar {
  overflow: hidden;
  background-color: #333;
  padding: 10px;
}

.chat-log {
  position: fixed;
  top: 60px;
  right: 20px;
  max-width: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #333;
  padding: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}

.gobutton {
  background-color: #292929;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 50px;
  border-radius: 12px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 300px;
  padding: 15px 32px;
  padding: 75px 150px;
  transition: background-color 0.3s ease;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  flex-grow: 1;
}

.healthbar {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  display: none;
}

.heart {
  font-size: 24px;
}

.centrebutton {
  background-color: #292929;
  border: none;
  color: #fff; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  border-radius: 12px;
  margin: 10px 0; 
  cursor: pointer; 
  transition: opacity 0.5s ease-in; 
  opacity: 0; 
}

.centrebutton.fade-in {
  opacity: 1; 
}

.centrebutton:hover,
.gobutton:hover {
  background-color: #444; 
}