body {
  background-color: rgb(73, 73, 73);
  margin: 0; /* Remove default margin */
  overflow: hidden; /* Prevent scrolling */
  height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
}

.topbar {
  overflow: hidden;
  background-color: #333;
  padding: 10px; /* Add padding for better appearance */
}

.chat-log {
  position: fixed;
  top: 60px; /* Position below the top bar */
  right: 20px;
  max-width: 200px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #333;
  padding: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 120px); /* Adjust height based on other elements */
}

.gobutton {
  background-color: #292929;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 50px;
  border-radius: 12px;
  position: absolute; /* Control positioning */
  left: 50%; /* Start in the center */
  transform: translateX(-50%); /* Center alignment */
  top: 300px; /* Adjust top position as needed */
  padding: 15px 32px;
  padding: 75px 150px; /* Make button bigger */
  transition: background-color 0.3s ease; /* Transition for hover effect */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  flex-grow: 1; /* Allow this to take remaining space */
}

.healthbar {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  display: none; /* Initially hidden */
}

.heart {
  font-size: 24px;
}

.centrebutton {
  background-color: #292929;
  border: none;
  color: #fff; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  border-radius: 12px;
  margin: 10px 0; 
  cursor: pointer; 
  transition: opacity 0.5s ease-in; 
  opacity: 0; 
}

.centrebutton.fade-in {
  opacity: 1; 
}

.centrebutton:hover,
.gobutton:hover { /* Add hover effect for .gobutton */
  background-color: #444; 
}