/*background*/
body {
    background-color: rgb(180, 0, 0);
    background-image: url('../IMG/supersigma.png');
}
  /*startbutton*/
  str {
    background-color: #795bff; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border-radius: 12px;
    padding: 75px 150px;
    font-size: 50px;
    position: relative;
    top: 300px;
    display: block;
    margin: auto;
}
#strt:hover {
      background-color: #808080;
  }
#strt:focus{
  background-color: #a7a7a7;
  padding: 65px 135px;
}
  /**/